#header a{
    color: #ff0000;
}

body {
    background-color: #fdfdbb;
  }

h1{
    text-align: center;
}
  

span {
    color: #0000ff;
  }

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

